
<div class="kanban-container">
  <div class="list" cdkDropList id="todo" (cdkDropListDropped)="onTaskDrop($event, 'todo')">
    <h2>Todo</h2>
    <div class="task" *ngFor="let task of taskLists['todo']" cdkDrag>{{ task }}</div>
    <button mat-icon-button color="primary" (click)="addTask('todo')">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="list" cdkDropList id="wip" (cdkDropListDropped)="onTaskDrop($event, 'wip')">
    <h2>Work in Progress</h2>
    <div class="task" *ngFor="let task of taskLists['wip']" cdkDrag>{{ task }}</div>
  </div>

  <div class="list" cdkDropList id="done" (cdkDropListDropped)="onTaskDrop($event, 'done')">
    <h2>Done</h2>
    <div class="task" *ngFor="let task of taskLists['done']" cdkDrag>{{ task }}</div>
  </div>
</div>









