<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="#jirasoftware" routerLink="/">Tvm InfoTech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#teamwork" routerLink="/teamwork">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#login" routerLink="/login">Logins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects" routerLink="/projects">projects</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="#dashboard" routerLink="/dashboard">dashboards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#teams" routerLink="/teams">teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#apps" routerLink="/apps">apps</a>
        </li>
      </ul>
      <button class="btn btn-primary">Create</button>

      <mat-form-field appearance="fill">   
        <mat-label >Search Something</mat-label>
        <input type="text" matInput placeholder="Type something..">
        <mat-icon matSuffix >search</mat-icon>
         </mat-form-field>

         
    </div>
  </nav>

   <div class="container">
    <router-outlet></router-outlet>
</div>
