<div class="container">
    <br><h2>Admin Panel</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of prodData"  [ngClass]="product.role">
    
                <td>{{ product.username }}</td>
                <td>{{product.password}}</td>
                <td>{{product.role}}</td>
                <button (click)="deleteProduct(product)">Delete</button>           
            </tr>
        </tbody>
    </table>
    </div>


  
  

