<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Recent Project</mat-card-subtitle>
   
  </mat-card-header>
  <mat-card-content>
        <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
 
    
<hr>
<div class="container">
  <h2>Dashboard</h2>
  <ul>
    <li *ngFor="let project of projects">
      <h3>{{ project.projectName }}</h3>
      <p>Company: {{ project.companyName }}</p>
      <p>Comments: {{ project.comments }}</p>
    </li>
  </ul>
</div>
<br>









